<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bumblesdk">

    <!-- Write Files -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.bumble.activity.CampaignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FuguTheme" />

        <activity android:name="com.bumble.activity.ImageDisplayActivityNew"
            android:excludeFromRecents="true"
            android:theme="@style/Transparent"/>

        <service
            android:name="com.bumble.service.BumblePushIntentService"
            android:exported="false"/>

    </application>

</manifest>